<body>
	<div class="home-hero about">
		<div class="w-container hero-cont">
			<div>
				<h1 class="hero-header hero-about">About Us</h1>
				<h2 class="w-hidden-tiny hero-subheader">Unrelenting Ambition to Make a Difference.</h2>
			</div>
		</div>
	</div>
	<div class="home-lede">
		<div class="w-container">
			<h2 class="hero-subheader exo about-lede">StrongArm Technologies develops breakthroughs in worker safety, strength, and endurance.&nbsp;</h2>
			<div class="w-row story-row about-story">
				<div class="w-col w-col-6">
					<p class="story">Our goal is to help the tens of millions of industrial workers worldwide who do physically challenging tasks in extreme environments to enable higher levels of safety, performance, and health.<br />
					<br />
					StrongArm was founded by two men that grew up with fathers whose bodies endured enormous physical strain at their blue collar jobs. Eventually they were faced with the negative physical consequences from their work in the latter part of their lives.</p>
				</div>
				<div class="w-col w-col-6">
					<p class="story">Industrial workers are expected to perform with strength, agility, and endurance at the level of professional athletes.&nbsp;Our mission is to make sure the industrial athletes of today arrive home in better health and spirit to ensure a better tomorrow.<br />
					<br />
					Workers are not afforded the benefit of athletic equipment to prevent injuries and maximize their performance. As a result, StrongArm is inventing new devices and methods to bridge the gap between performance and safety.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="press">
		<div class="w-container">
			<h2 class="hero-subheader exo">Press</h2>
			<div class="awards">
				<div class="w-row">
					<div class="w-col w-col-6 press-col-bord"><a class="w-inline-block award-link" href="http://www.rit.edu/research/vc/story/strong-arm"><%= image_tag "RIT.png", :class=>"award-logo" %></a></div>
					<div class="w-col w-col-6">
						<div><a class="w-inline-block award-link" href="http://www.democratandchronicle.com/story/money/business/blogs/innovation/2012/05/01/strong-arm-wins-again/2195215/"><%= image_tag "DT.jpg", :class=>"award-logo" %></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="home-about about-hardwork">
		<div class="w-container home-about-img warehouse">
			<div>
				<h1 class="hero-subheader sec-txt">We work hard so you can too.&nbsp;</h1>
			</div>
		</div>
	</div>
	<div class="home-sec1">
		<div class="w-row">
			<div class="w-col w-col-6 sec1-col1">
				<div class="w-container prof-1"></div>
			</div>
			<div class="w-col w-col-6 sec1-col2 prof-story">
				<div class="w-container about-aside">
					<p class="story name"><span class="red-txt">Sean PETTERSON</span><br />
					Founder / Chief Executive Officer</p>
					<p class="story">He is an inventor / Investor / Gearhead from NY, NY and a serial entrepreneur in Real Estate, Powersports and Product development.<br />
					<br />
					Son of Ann &amp; Glen Petterson, a retired Special Agent and Contractor. BS &#39;2013 Rochester Institute of Technology in Industrial Design/ Entrepreneurship/ Mechanical Engineering.<br />
					<br />
					He is an extreme and endurance sportsman and musician.</p>
				</div>
				<div class="w-container"><a class="button product about" href="mailto:sean@strongarmtech.com?subject=StrongArm%20Inquiry">CONTACT SEAN</a></div>
			</div>
		</div>
		<div class="w-row">
			<div class="w-col w-col-6 sec1-col1 prof-story">
				<div class="w-container about-aside justin">
					<p class="story name"><span class="red-txt">Justin HILLERY</span><br />
					Founder / Chief Marketing Officer</p>

					<p class="story">He is a seamster/ inventor/ marketer from Rochester NY and a serial entrepreneur in menswear and entertainment.<br />
					<br />
					Son of Linda &amp; Lamont, a real-estate agent and lineman. BS &rsquo;2013 Rochester Institute of Technology in Marketing/ Communications/ Entrepreneurship.<br />
					<br />
					He is a sportsman in lacrosse, football and snowboarding.</p>
				</div>
				<div class="w-container">
					<div class="prod-btn"><a class="button product" href="mailto:justin@strongarmtech.com?subject=StrongArm%20Inquiry">CONTACT JUSTIN</a></div>
				</div>
			</div>
			<div class="w-col w-col-6 sec1-col2">
				<div class="w-container prof-2"></div>
			</div>
		</div>
		<div class="w-row">
			<div class="w-col w-col-6 sec1-col1">
				<div class="w-container prof-3"></div>
			</div>
			<div class="w-col w-col-6 sec1-col2 prof-story">
				<div class="w-container about-aside">
					<p class="story name"><span class="red-txt">Michael DOHYUN KIM</span><br />
					VP of Engineering</p>

					<p class="story">He is a mechanical design engineer with a mind for functionality and manufacturability from South Korea.<br />
					<br />
					Son of Seungrae Kang &amp; Namwook Kim, an artist and fine arts teacher. BE &rsquo;2014 City College of New York in Mechanical Engineering.<br />
					<br />
					He is a grease monkey, cafe barista and tennis player.</p>
				</div>
				<div class="w-container"><a class="button product ergo" href="mailto:michael@strongarmtech.com?subject=StrongArm%20Inquiry">CONTACT MICHAEL</a></div>
			</div>
		</div>
		<div class="w-row">
			<div class="w-col w-col-6 sec1-col1 prof-story">
				<div class="w-container about-aside rahul">
					<p class="story name"><span class="red-txt">Rahul BHANSALI</span><br />
					Chief Revenue Officer</p>

					<p class="story">He is the founder of a commodity brokerage firm, and cofounder of New Delhi&rsquo;s first organic food home-delivery company.<br />
					<br />
					Son of Rajeev &amp; Rashmi, a serial entrepreneur and an organic food producer. MBA &lsquo;2010 Babson College, BS &lsquo;2005 Penn State.<br />
					<br />
					A revenue strategy, pricing, &amp; sales gearhead. He is a martial artist and oil painter.</p>
				</div>
				<div class="w-container">
				<div class="prod-btn"><a class="button product" href="mailto:rahul@strongarmtech.com?subject=StrongArm%20Inquiry">CONTACT RAHUL</a></div>
			</div>
		</div>
		<div class="w-col w-col-6 sec1-col2">
			<div class="w-container prof-4"></div>
		</div>
	</div>
	<div class="home-process family">
		<div class="w-container hero-cont">
	<div>
		<h1 class="hero-subheader sec-txt2 about-sec-txt2">Come Home Safe With StrongArm.</h1>
	</div>
</body>