<body>
<div class = "disclaimer_page flx-sect-2">
  <div class = "disclaimer_notice flx-txt-cont">
  <h2 class = "hero-header-disclaimer">DISCLAIMER NOTICE </h2>
  <div class= "disclaimer_paragraph">
  <p>Strong Arm Technologies Inc. makes no express warranities, responsibilties, or guarantees guarantees regarding the Information contained herein or the suitability of its products and services for any use.<strong>STRONG ARM TECH NOL OGI ES INC. DI SCLAI M SALL IMPLIED  WARRANT! ES, INCLUDING  BUT NOT LI M I TED TO FITNESS FOR A PARTICULAR PURPOSE AND MERCHANTABILITY.</strong>The products sold on these pages and any other products sold by Strong Arm Technologies Inc. have been subject to limited testing, all cited statistics and results are based on these trials and are not guaranteed. Strong Arm Technologies Inc. does not grant, explicitly or implicitly, to any party any patent rights, licenses, or any other intellectual property rights, whether with regard to such information itself or anything described by such information. "Information" is provided throughout this website including but not limited to product testing results, logos, product names, descriptions, and images. All Information provided is proprietary to Strong Arm Technologies Inc. As the purchaser you assume all risk and responsibility for any and all loss or damages arising from the use of any product purchased from the Strong Arm Technologies Inc. website. Strong Arm Technologies Inc. reserves the right to make any changes to this Information, including this disclaimer, or to any products at any time without notice.</p>
  <p>This website is designed for use in the United States and all terms shall be governed by the laws of the State of New York. Any cause of action shall be brought in the appropriate United States Federal or State Courts in New York.</p>
  <p>ErgoHUG study: *The Ergonomics Center of North Carolina, April 4th 2014, North Carolina State University</p>
  <p>V22 study: **The Ergonomics Center of North Carolina, September 17th 2014 North Carolina State University</p>
    </div>
</div>
 </div>
  
  
  
  
</body>  
