<body>
  <div class="home-hero ergohug">
    <div class="w-container hero-cont">
      <div>
        <h1 class="hero-header">ErgoHug</h1>
        <h2 class="hero-subheader">Augmented Embrace</h2>
      </div>
    </div>
  </div>
  <div class="home-about ergohug">
    <h2 class="hero-subheader sect-head-txt">The Problem</h2>
    <div class="w-container home-about-img ergo-cont">
      <div>
        <%= image_tag "Ergo_Problem.jpg" %>
      </div>
    </div>
  </div>
  <div class="home-about ergohug">
    <h2 class="hero-subheader sect-head-txt">The Solution</h2>
    <div class="w-container home-about-img ergo-cont">
      <div>
        <%= image_tag "Solution_1.jpg" %>
      </div>
    </div>
  </div>
  <div class="home-about ergo-prod">
    <div class="w-container home-about-img workers"></div>
  </div>
  <div class="home-lede ergohug-sec">
    <div class="w-container">
      <h2 class="hero-subheader exo ergo-sub">The ErgoHug reduces nursing injuries &amp;&nbsp;cost, <br>while&nbsp;increasing patient comfort.&nbsp;</h2>
    </div>
  </div>
  <div class="home-about ergohug">
    <h2 class="hero-subheader sect-head-txt">The Hidden Danger</h2>
    <div class="w-container home-about-img ergo-cont">
      <div>
        <%= image_tag "hidden_danger.jpg" %>
      </div>
    </div>
  </div>
  <div class="home-sec1 sec-top-bord">
    <div class="w-row">
      <div class="w-col w-col-6 sec1-col1 prod">
        <div class="w-container">
          <div class="product-shot ergo"></div>
        </div>
      </div>
      <div class="w-col w-col-6 sec1-col2 prod ergo-aside">
        <div class="w-container">
          <h2 class="hero-subheader exo ergo-aside-head">CoOperative Control:</h2>
          <p class="product-descript-txt ergo-aside-txt">Specifically designed as a holistic feedback system between lifter and patient, the ErgoHug provides an 80% reduction in compressive loading of the spine.
            <br>
            <br>• 52%&nbsp;of nurses complain of chronic back pain.
            <br>
            <br>• 70% of back injuries come from lifting patients.
            <br>
            <br>With ErgoHug, you can increase the strength capability of your back &amp;&nbsp;torso by 97%.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-about ergo-process">
    <div class="w-container home-about-img workers">
      <div>
        <h1 class="hero-subheader sec-txt">Calm. Controlled. Consistent.</h1><a class="button black-btn" href="/our_process">OUR&nbsp;PROCESS</a>
      </div>
    </div>
  </div>
</body>

