<body>
  <div class="home-hero process">
    <div class="w-container hero-cont process-hero">
      <div>
        <h1 class="hero-header process">The Process</h1>
        <h2 class="hero-subheader">Build. Measure. Learn Fast.</h2>
      </div>
    </div>
  </div>
  <div class="home-lede">
    <div class="w-container">
      <h2 class="hero-subheader exo">We are committed to unlocking human potential <br>through innovative design.</h2>
    </div>
  </div>
  <div class="home-sec1">
    <div class="w-row">
      <div class="w-col w-col-6 sec1-col1">
        <div class="w-container">
          <div class="process-1"></div>
        </div>
      </div>
      <div class="w-col w-col-6 sec1-col2">
        <div class="w-container">
          <div class="process-2"></div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-6 sec1-col1">
        <div class="w-container">
          <div class="process-3"></div>
        </div>
      </div>
      <div class="w-col w-col-6 sec1-col2">
        <div class="w-container">
          <div class="process-4"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-lede">
    <div class="w-container">
      <h2 class="hero-subheader exo">Award Winning Design</h2>
      <h2 class="hero-subheader exo award-txt">With an intimate understanding of the unique needs of <br>industrial athletes, the StrongArm team operates with an <br>unwavering commitment to explore the <br>frontiers of work innovation.</h2>
      <div class="awards">
        <div class="w-row">
          <div class="w-col w-col-4">
            <div>
              <a class="w-inline-block award-link" href="http://www.sunycnse.com/Newsroom/NewsReleases/Details/12-04-27/UAlbany_NanoCollege_announces_winners_in_largest-ever_New_York_State_Business_Plan_Competition.aspx">
                <%= image_tag "nystate.png", :class=>"award-logo" %>
              </a>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div class="award-logo-div">
              <a class="w-inline-block award-link" href="http://www.core77designawards.com/2012/recipients/strong-arm-lifting-safety-garment/">
                <%= image_tag "Core77.png", :class=>"award-logo" %>
              </a>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div>
              <a class="w-inline-block award-link" href="http://www.sparkawards.com/galleries/index.cfm?entry=6F2C8A24-5056-A832-A23AD0C9A6DB9D29">
                <%= image_tag "Spark.jpg", :class=>"award-logo" %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-process team">
    <div class="w-container hero-cont process-about">
      <div>
        <h1 class="hero-subheader sec-txt2">StrongArm: Craftsmen of Invention.</h1>
      </div><a class="button black-btn" href="/about">ABOUT&nbsp;US</a>
    </div>
  </div>  
</body>

