<body>
  <div class="home-hero v22">
    <div class="w-container hero-cont">
      <div>
        <h1 class="hero-header">The V22</h1>
        <h2 class="hero-subheader">Revolutionize Work.</h2>
      </div>
    </div>
  </div>
  <div class="home-lede">
    <div class="video-div">
      <div class="w-embed w-video" style="padding-top: 56.20608899297424%;">
        <iframe class="embedly-embed" src="http://www.youtube.com/embed/Fzy761W19ik"
        scrolling="no" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="w-container">
      <h2 class="hero-subheader exo">Introducing the <span class="red-txt">V22</span>, a revolutionary lifting device.</h2>
    </div>
  </div>
  <div class="home-sec1">
    <div class="w-row">
      <div class="w-col w-col-6 sec1-col1 prod">
        <div class="w-container">
          <div class="product-shot"></div>
        </div>
      </div>
      <div class="w-col w-col-6 sec1-col2 prod">
        <div class="w-container">
          <h2 class="hero-subheader exo">Ergonomics + Exo-Skeleton<br> = ErgoSkeleton</h2>
          <p class="product-descript-txt">The ErgoSkeleton is a new platform for applying technologies that advance human ergonomics.
            <br>
            <br>ErgoSkeleton products enhances your efficiency and helps you get more from your various physical pursuits.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-sec1">
    <div class="w-row">
      <div class="w-col w-col-6 sec1-col1 prod">
        <div class="w-container">
          <h2 class="hero-subheader exo">Ergoskeletal Lifting <br>&gt; <br>Conventional Lifting</h2>
          <p class="product-descript-txt">Safe lifting techniques and practices may help prevent injuries, but real-time lifting assistance is necessary to make every lift safe.
            <br>
            <br>Replace conventional lifting with a more intelligent solution.&nbsp;</p>
        </div>
      </div>
      <div class="w-col w-col-6 sec1-col2 prod">
        <div class="w-container">
          <div class="v22-prod-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-process parts-img">
    <div class="w-container hero-cont">
      <div>
        <h1 class="hero-subheader sec-txt2">Optimize Your Physical Performance</h1>
      </div>
    </div>
  </div>
  <div class="home-sec1">
    <div class="w-hidden-tiny home-about v22">
      <div class="w-container home-about-img v22">
        <div class="lift-graphic">
          <%= image_tag "how_it_works.jpg" %>
          <div class="prod-btn"><a class="button product ghost" href=<%=asset_path("manual_r3_25.pdf")%> target="_blank">DOWNLOAD&nbsp;MANUAL</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-6 sec1-col1 prod">
        <div class="w-container">
          <div class="icon-div">
            <%= image_tag "battery.png", :class=>"stroke-icon" %>
          </div>
          <h2 class="hero-subheader v22-aside">Self-Powered</h2>
          <p class="product-descript-txt">The&nbsp;<span class="bold red-txt">Power-Control</span>&nbsp;function helps the operator to transfer and reduce load forces more safely and efficiently.
            <br>
            <br>• Directs 80-90% of the load force to the stronger muscles in the legs and buttocks.
            <br>
            <br>• Transfers 50-75% of the force from the weaker muscles and tissues in the hands, arms, and lower back.</p>
        </div>
      </div>
      <div class="w-col w-col-6 sec1-col2 prod">
        <div class="w-container v22-prod-cont">
          <div class="v22-prod-3"></div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-6 sec1-col1 prod">
        <div class="w-container">
          <div class="v22-prod-4"></div>
        </div>
      </div>
      <div class="w-col w-col-6 sec1-col2 prod">
        <div class="w-container">
          <div class="icon-div">
            <%= image_tag "seatbelt.png", :class=>"stroke-icon" %>
          </div>
          <h2 class="hero-subheader v22-aside">Safety Control</h2>
          <p class="product-descript-txt">The&nbsp;<span class="bold red-txt">Safety-Control</span>&nbsp;function assists the operator in using proper posture and body mechanics.
            <br>
            <br>• Provides control limits to ensure compliance with safe lifting practices. &nbsp;
            <br>
            <br>• Delivers sensory feedback to pressure points to help the operator maintain an upright posture and spine position.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-about workers">
    <div class="w-container home-about-img workers">
      <div>
        <h1 class="hero-subheader sec-txt">Reinventing Lifting Safety.</h1><a class="button black-btn" href="/our_process">OUR&nbsp;PROCESS</a>
      </div>
    </div>
  </div>
</body>  
