<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  	<p>Hi <%= @newsletter_email.first_name %>,</p>
		<p>Thanks for signing up to the StrongArm email with your email address <strong><%= @newsletter_email.email %></strong>. We'll be sure to keep you posted on all our upcoming events and updates. Thanks again.</p>

		<p>Sincerely,</p>
		<p>Team StrongArm</p>
  </body>
</html>