<div class="w-nav topnav" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
  <div class="w-container">
    <%= link_to (image_tag "logo.png", :class=>"logo"), root_path, :class => "w-nav-brand", :alt => "logo.png" %>
    <a class="w-nav-link topnav-link" href="<%= new_contact_form_path %>">CONTACT</a>
    <a class="w-nav-link topnav-link" href="/about">ABOUT</a><a class="w-nav-link topnav-link" href="/our_process">PROCESS</a>
    <nav class="w-nav-menu dropdown-bkg" role="navigation">
      <div class="dropdown-block">
        <div class="dropdown-cont"><a class="w-nav-link dropdown-link" href="/v22">V-22</a><a class="w-nav-link dropdown-link" href="/ergohug">ERGOHUG</a><a class="w-nav-link dropdown-link" href="/flx">FLX</a>
        </div>
      </div>
    </nav>
    <div class="w-nav-button w-clearfix menu-dropdown"><a class="w-nav-link topnav-link" href="#">PRODUCT</a>
    </div>
  </div>
</div>