<body class="login-body">
  <div class="w-section login-sect">
    <div class="login-div">
      <div class="w-section modal-bkg">
        <div class="modal-window thanks-window">
          <div class="modal-width-div">
            <div class="login-logo">
              <%= image_tag "logo_1.png" %>
            </div>
            <div class="w-clearfix thanks-txt-div">
              <p class="thanks-txt thanks-head">Thanks for signing up.</p>
              <p class="thanks-txt thanks-subhead">Welcome to the StrongArm community.</p>
              <p class="thanks-txt">In just a few moments, you'll receive a welcome email.</p>
              <p class="thanks-txt">If you don’t receive the email in 5 minutes, check your spam folder. Sometimes email providers make mistakes and put our emails in there.</p>
              <p class="thanks-txt">Thanks again.</p>
              <p class="thanks-txt thanks-sig">-Team StrongArm</p>
            </div>
          </div>
          <%= link_to "CONTINUE TO SITE", root_path, class: "button product thanks-btn" %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>